@CHARSET "UTF-8";

html {
	overflow: auto;
}

body {
text-align: center;
font-size: small;
margin: 0;
font-family: Helvetica, Arial, "Sans Serif";
}
 
div {
margin: 0;
padding: 0;
}
 
h1 {
  margin: 0;
  padding: 0;
  line-height: 1.2em;
}
 
p {
  margin: 0;
  padding: 0;
  font-size: 120%;
  line-height: 1.6em;
}
 
a {
  text-decoration: none;
  color: #000000;
}
 
.clear {
border: none;
clear: both;
}
 
.status {
	float: left;
}
 
.border {
  border: black thin;
}
 
.success {
background-color: green;
}
 
.failure {
background-color: red;
}
 
.unknown {
background-color: white;
}
 
.building {
	text-decoration: blink;
	background-color: yellow;
}